#progress {
    height:2%;
    background:#444;
    bottom:0;
    z-index:200;
}


#scrollbar {
    position:fixed;
    right:2px;
    height:50px;
    width:6px;
    background:#444;
    background:rgba(0,0,0,0.6);
    border:1px solid rgba(255,255,255,0.6);
    z-index:300;
    border-radius:3px;
}

.skrollr-desktop #scrollbar {display:none;}

#intro {
	
}
.overlay { 
  position:absolute;
  z-index:12;
  top:50%;
  left:0;
  width: 100%;
}
.content {
	background-color: rgba(255,255,255,0.8);
	color: #74c7d5;
	font-size: 22px;
    text-align: center;
}
#services{
	background-color: #;
}
.services-title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 36px;
    text-align: center;
}
.services-title > span {
    font-weight: bold;
    font-size: 52px;
}
.services .icon {
    position: relative;
    display: inline-block;
    padding: 0;
    margin-bottom: 24px;
    width: 160px;
    height: 160px;
    text-align: center;
    font-size: 72px;
    line-height: 130px;
    color: #ccc;
    background: none;
    border: 10px solid #74C7D5;
    border-radius: 50%;
    z-index: 1;
    -webkit-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
}
.row.line {
    height: 6px;
    background: #74C7D5;
    margin-bottom: 24px;
}
.spot {
    margin: -7px auto;
    display: block;
    width: 20px;
    height: 20px;
    background: #74C7D5;
    border: 5px solid #fff;
    border-radius: 50%;
}
#about {
	background-color: #3498db;
}
.about-img {
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 12px 0px 0px 12px rgba(255,255,255,0.2), -12px 0px 0px 12px rgba(255,255,255,0.2);
}
.about-text {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
    color: #fff;
}
.about-text > p:first-child {
    font-weight: bold;
}
.about-text > p > span {
    color: #;
    font-size: 33px;
    font-weight: bold;
}
#skills {
	background-color: #44c650;
}
.skills-title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 36px;
    text-align: center;
}
.skills-title > span {
    font-weight: bold;
    font-size: 52px;
}
.chart {
  position: relative;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.chart-percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
  font-size: 70px;
}
.chart-percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
.chart-text{
    font-size: 23px;
    font-weight: bold;
}
#works {
	background-color: #e74c3c;
}
.portfolioTitle {
	text-align: center;
    color: #fff;
}
.portfolioTitle > span {
    font-weight: bold;
    font-size: 52px;
}
.portfolioFilter {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 25px;
}
.portfolioFilter a { 
    margin-right: 10px; 
    color:#000;
    text-decoration:none;
    background-color: #fff;
    padding: 12px;
    border-bottom: 3px solid rgb(221,221,213);
    border-radius: 2px;
} 
.portfolioFilter a.current { 
    font-weight:bold;
}
.portfolioFilter a:hover {
	background-color: #eee;
     text-decoration:none;   
}
.portfolioContainer {
	margin-right: 5px;
	margin-left: 5px;	
}
.portfolioContainer > div {
	margin-right: inherit;
	margin-left: inherit;
}
.portfolioContainer > div > img {
	width: 250px;
	height: 300px;
	margin: 5px;
}
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
 
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
#quote {
	background-color: #363B48;
}
#contact {
	background-color: #f1f1f1;
}
.terminal-main{
	width: 100%;
	height: auto;
	margin-top: 20px;
	margin-bottom: 10px;
}
.terminal-header {
	width: inherit;
    height: inherit;
    background-color: #DEDEDE;
    margin: 0px auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
}
.terminal-header-text {
	color: #A5A5A5;
    font-family: "prestige-elite-std",serif;
    font-size: 22px;
    font-weight: 700;
    position: relative;
}
.terminal-promt {
	width: inherit;
	height: inherit;
	background-color: #33485D;
	margin: 0px auto;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.terminal-text{
	font-family: "prestige-elite-std", serif;
	font-size: 22px;
	color: #19fe54;
	margin: 0 auto;
	padding: 20px;
	font-weight: 700;
}

/*=============================================================
 * This css file is part of jquery terminal
 *
 * Licensed under GNU LGPL Version 3 license
 * Copyright (c) 2011-2013 Jakub Jankiewicz <http://jcubic.pl>
 *
 ==============================================================*/
.terminal .terminal-output .format, .cmd .format,
.cmd .prompt, .cmd .prompt div, .terminal .terminal-output div div{
    display: inline-block;
}
.cmd .clipboard {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.01;
    filter: alpha(opacity = 0.01);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.01);
    width: 2px;
}
.cmd > .clipboard {
    position: fixed;
}
.terminal {
    padding: 0px;
    position: relative;
    overflow: hidden;
}
.cmd {
    padding: 0;
    margin: 0;
    height: 1.3em;
    /*margin-top: 3px; */
}
.cmd .cursor.blink {
    -webkit-animation: blink 1s infinite steps(1, start);
       -moz-animation: blink 1s infinite steps(1, start);
        -ms-animation: blink 1s infinite steps(1, start);
            animation: blink 1s infinite steps(1, start);
}
@keyframes blink {
  0%, 100% {
        background-color: #33485D;
        color: #19fe54;
  }
  50% {
        background-color: #bbb; /* not #19fe54 because it's seem there is Google Chrome bug */
        color: #33485D;
  }
}
@-webkit-keyframes blink {
  0%, 100% {
        background-color: #33485D;
        color: #19fe54;
  }
  50% {
        background-color: #bbb;
        color: #33485D;
  }
}
@-ms-keyframes blink {
  0%, 100% {
        background-color: #33485D;
        color: #19fe54;
  }
  50% {
        background-color: #bbb;
        color: #33485D;
  }
}
@-moz-keyframes blink {
  0%, 100% {
        background-color: #33485D;
        color: #19fe54;
  }
  50% {
        background-color: #bbb;
        color: #33485D;
  }
}
.terminal .terminal-output div div, .cmd .prompt {
    display: block;
    line-height: 14px;
    height: auto;
    padding-bottom: 15px;
}
.cmd .prompt {
    float: left;
}
.terminal, .cmd {
    font-family: serif, monospace;

    color: #19fe54;
    background-color: #33485D;
    font-size: 22px;
    line-height: 14px;
}
.terminal-output > div {
    /*padding-top: 3px;*/
    min-height: 14px;
}
.terminal .terminal-output div span {
    display: inline-block;
}
.cmd span {
    float: left;
    /*display: inline-block; */
}
.terminal .inverted, .cmd .inverted, .cmd .cursor.blink {
    background-color: #19fe54;
    color: #33485D;
}
.terminal .terminal-output div div::-moz-selection,
.terminal .terminal-output div span::-moz-selection,
.terminal .terminal-output div div a::-moz-selection {
    background-color: #19fe54;
    color: #33485D;
}
.terminal .terminal-output div div::selection,
.terminal .terminal-output div div a::selection,
.terminal .terminal-output div span::selection,
.cmd > span::selection,
.cmd .prompt span::selection {
    background-color: #19fe54;
    color: #33485D;
}
.terminal .terminal-output div.error, .terminal .terminal-output div.error div {
    color: red;
}
.tilda {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
}
.clear {
    clear: both;
}
.terminal a {
    color: #0F60FF;
}
.terminal a:hover {
    color: red;
}