<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <!-- Start Layout -->
    {% if site.header_type == 'drawer' %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
      {% include header_fixed.html %}
    {% else %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {% include header.html %}
    {% endif %}

      <main class="mdl-layout__content">
        {{ content }}
        {% include footer.html %}
      </main>

    </div>
    <!-- /End Layout-->

    <!-- build:js(app) /js/script.js -->
    <script rel="javascript" type="text/javascript" src="/_bower_components/material-design-lite/material.min.js"></script>
    <script rel="javascript" type="text/javascript" src="/js/site.js"></script>
    <script rel="javascript" type="text/javascript" src="/js/search.js"></script>
    <script rel="javascript" type="text/javascript">
      mdlSearch({
        searchFile: '/feed.xml',
        searchSelector: '#js-search', // CSS Selector for search container element.
        inputSelector: '#search-field', // CSS selector for <input>
        resultsSelector: '#js-search__results' // CSS selector for results container
      });
    </script>
    <!-- endbuild -->
  </body>

</html>
