<section id="about" class="full-page">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-4">					
								<div data-500="transform:translate(-300px,400px); opacity:0;" data-1000="transform:translate(-223px,500px); opacity:1;">
									<img src="img/reports.png">
									<img src="img/coffee.png">
								</div>
							</div>
							<div class="col-md-4">
								<div class="about-text" data-500="transform:translate(100px,100px); opacity:0;" data-1000="transform:translate(-80px,280px); opacity:1;">
									<p>Hello, I'm Oscar Cortez...</p>
									<p>I'm a systems engineer, from <span>Managua-Nicaragua.</span> I'm a passionated and evangelist of the free software and open sources tools. GNU/Linux user since my birth. Lover of HTML5, Ruby on Rails and Django, I Want to create powerful apps for the web, mobiles and desktop.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div data-500="transform:translate(100px,100px); opacity:0;" data-1000="transform:translate(1px,45px); opacity:1;">
									<img src="img/pc.png">
									<img src="img/mouse.png">
									<img src="img/tel.png">
								</div>
							</div>
						</div>						
					</div>
				</div>		
			</div>
		</section>