<section id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="contact-title">YOU CAN <span>CONTACT</span> ME HERE</h1>
						<div class="terminal-main">
							<div class="terminal-header">
								<span class="terminal-header-text">oscarmcm - bash</span>
							</div>
							<div class="terminal-promt">
								<div class="terminal-text">
									<p>
								      Last login: <span id="today"></span><br>
								      Oscar-Cortez-MacBook:~ $ See instructions below to get to know me<br>
								      Oscar-Cortez-MacBook:~ $ Double tap 'tab' for commands, type 'clear' to restart<br>
								    </p>
									<div id="term"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<p>Stay connected:</p>
						<ul>
							<li><i class="fa fa-linkedin"><a href="">Linkedln</a></i></li>
							<li><i class="fa fa-twitter"><a href="">Twitter</a></i></li>
							<li><i class="fa fa-file-text-o"><a href="">Resume</a></i></li>
							<li><i class="fa fa-skype"><a href="">Skype</a></i></li>
						</ul>
					</div>
					<div class="col-md-6">
						<p>Proudly build with</p>
						<a href="">NodeJS</a>
						<p>Handcrafted in Nicaragua</p>
						<li><i class="fa fa-github"><a href="">Github repo</a></i></li>					
					</div>
					<div class="col-md-12">
						<div class="text-center">
							<p>See you son</p>
							<i class="fa fa-heart heart animated"></i>
							<br>	
							<a href="#intro"><i class="fa fa-chevron-circle-up"></i></a>
							<p>copyright 2014 Oscar Cortez</p>
						</div>
					</div>
				</div>
			</div>
		</section>