<section id="services" class="full-page">
			<div class="container">
				<div class="row">
					<div class="col-md-12">							
						<h1 class="services-title" data-1100="transform:scale(0);" data-1500="transform:scale(1); ">THE <span>SERVICES</span> I OFFER</h1>					
						<div class="row services">
							<div class="col-md-3 text-center" data-1300="transform:translate(10px,0px); opacity:0;" data-1500="transform:translate(0px,0px); opacity:1;">
								<a href="#fake" class="icon"><i class="fa fa-flag"></i></a>
								<h2>Analist</h2>
							</div>
							<div class="col-md-3 details">
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
							</div>
							<div class="col-md-3 text-center" data-990="transform:translate(10px,0px); opacity:0" data-1500="transform:translate(0px,0px); opacity:1;">
								<a href="" class="icon"><i class="fa fa-code"></i></a>
								<h2>Development</h2>
							</div>
							<div class="col-md-3 details">
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
							</div>
						</div><!--End row (top) -->
						
						<div class="row line visible-md visible-lg" data-1600="width:0%; opacity:0;" data-1650="width:50%; opacity:0.5;" data-1700="width:100%; opacity:1">
							<div class="col-md-3"><span class="spot"></span></div>
							<div class="col-md-3"><span class="spot"></span></div>
							<div class="col-md-3"><span class="spot"></span></div>
							<div class="col-md-3"><span class="spot"></span></div>
						</div><!--End row -->
						
						<div class="row services bottom-row ">
							<div class="col-md-3 text-center col-md-push-3" data-1650="transform:translate(10px,0px); opacity:0;" data-1800="transform:translate(0px,0px); opacity:1;">
								<h2>Support</h2>
								<a href="" class="icon"><i class="fa fa-pencil"></i></a>
							</div>
							<div class="col-md-3 details col-md-pull-3">
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
							</div>
							<div class="col-md-3 text-center  col-md-push-3" data-1650="transform:translate(10px,0px); opacity:0;" data-1800="transform:translate(0px,0px); opacity:1">
								<h2>Rocket Science</h2>
								<a href="" class="icon"><i class="fa fa-rocket"></i></a>
							</div>
							<div class="col-md-3 details  col-md-pull-3">
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
							</div>
						</div><!--End row (bottom)-->					
					</div><!--End container -->			
				</div>
			</div>
		</section>