<section id="skills" class="full-page">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<h1 class="skills-title">THE <span>SKILLS</span> I HAVE</h1>
							<div class="col-md-3 text-center">
								<span class="chart" data-percent="90">
									<span class="chart-percent">90</span>
								</span>
								<br>
								<span class="chart-text">HTML5/JS/CSS3/PHP</span>
							</div>
							<div class="col-md-3 text-center">
								<span class="chart" data-percent="55">
									<span class="chart-percent">55</span>
								</span>
								<br>
								<span class="chart-text">Ruby/Python</span>
							</div>
							<div class="col-md-3 text-center">
								<span class="chart" data-percent="74">
									<span class="chart-percent">74</span>
								</span>
								<br>
								<span class="chart-text">Wordpress/Drupal/Joomla</span>
							</div>
							<div class="col-md-3 text-center">
								<span class="chart" data-percent="66">
									<span class="chart-percent">66</span>
								</span>
								<br>
								<span class="chart-text">Android/iOS/WP8</span>
							</div>
						</div>
					</div>
					<div class="col-md-12  text-center cCounter">
						<h1>ABOUT ANYTHING<br>FUN FACTS</h1>
						<div class="row">
							<div class="col-md-4">
								<div id="counter1" class="counter"></div>
								<label>Pages In War &amp; Peace</label>
							</div>
							<div class="col-md-4">
								<div id="counter2" class="counter"></div>
								<label>Days Around The World</label>
							</div>
							<div class="col-md-4">
								<div id="counter3" class="counter"></div>
								<label>A Space Odyssey</label>
							</div>						
						</div>						
					</div>
				</div>
			</div>		
		</section>