<section id="works">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					<h1 class="portfolio-title">THE <span>WORKS</span> I AM PROUD OF</h1>
						<div class="portfolioFilter"> 
						    <a href="#" data-filter="*" class="current">All Categories</a>
						    <a href="#" data-filter=".web">Web</a>
						    <a href="#" data-filter=".mobile">Mobile</a>
						    <a href="#" data-filter=".desktop">Desktop</a>
						    <a href="#" data-filter=".objects">Objects</a> 
						</div> 
						<div class="portfolioContainer">		 
						    <div class="objects">
						    	<a href="#gallery_1" role="button" data-toggle="modal">
						        <figure>
						        	<img src="img/port.jpg" alt="image">
						        	<figcaption>
						        		<h4>Some Project</h4>
						        		<a href="#gallery_1" role="button" data-toggle="modal"><i class="fa fa-arrow-up"></i></a>
						        	</figcaption>
						        </figure>
						        </a>
						    </div>
						 
						    <div class="web places">
						        <figure>
						        	<img src="img/port.jpg" alt="image">
						        	<figcaption>
						        		<h4>Some Project</h4>
						        		<a href="#gallery_1" role="button" data-toggle="modal"><i class="fa fa-arrow-up"></i></a>
						        	</figcaption>
						        </figure>
						    </div>    
						 
						    <div class="mobile">
						        <figure>
						        	<img src="img/port.jpg" alt="image">
						        	<figcaption>
						        		<h4>Some Project</h4>
						        		<a href="#gallery_1" role="button" data-toggle="modal"><i class="fa fa-arrow-up"></i></a>
						        	</figcaption>
						        </figure>
						    </div>
						     
						    <div class="web mobile">
						        <figure>
						        	<img src="img/port.jpg" alt="image">
						        	<figcaption>
						        		<h4>Some Project</h4>
						        		<a href="#gallery_1" role="button" data-toggle="modal"><i class="fa fa-arrow-up"></i></a>
						        	</figcaption>
						        </figure>
						    </div>
						 
						    <div class="desktop objects">
						        <figure>
						        	<img src="img/port.jpg" alt="image">
						        	<figcaption>
						        		<h4>Some Project</h4>
						        		<a href="#gallery_1" role="button" data-toggle="modal"><i class="fa fa-arrow-up"></i></a>
						        	</figcaption>
						        </figure>
						    </div>
						 
						    <div class="desktop mobile objects">
						        <figure>
						        	<img src="img/port.jpg" alt="image">
						        	<figcaption>
						        		<h4>Some Project</h4>
						        		<a href="#gallery_1" role="button" data-toggle="modal"><i class="fa fa-arrow-up"></i></a>
						        	</figcaption>
						        </figure>
						    </div>
						 
						    <div class="web objects">
						        <figure>
						        	<img src="img/port.jpg" alt="image">
						        	<figcaption>
						        		<h4>Some Project</h4>
						        		<a href="#gallery_1" role="button" data-toggle="modal"><i class="fa fa-arrow-up"></i></a>
						        	</figcaption>
						        </figure>
						    </div>    
						     
						    <div class="desktop">
						        <figure>
						        	<img src="img/port.jpg" alt="image">
						        	<figcaption>
						        		<h4>Some Project</h4>
						        		<a href="#gallery_1" role="button" data-toggle="modal"><i class="fa fa-arrow-up"></i></a>
						        	</figcaption>
						        </figure>
						    </div>		 
						</div>
					</div>
				</div>
			</div>
		</section>

<!--START GALLERY 1 MODAL-->
		<div id="gallery_1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gallery_1" aria-hidden="true">
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-plus-square"></i></button>
							<h2>PROJECT No.1</h2>		
							<p class="lead">The world always seems brighter when<br/>you've just made something that wasn't there before.</p>					
						</div>
						<div class="col-md-12">
							<img width="200px"height="200px" src="img/header-bg.jpg">
						</div>

						<div class="col-sm-4 col-lg-3">
							<h6>Services</h6>
							<ul class="icons">
								<li><i class="fa fa-users"></i>SIMAS</li>
								<li><i class="fa fa-wrench"></i>Front-End</li>
								<li><i class="fa fa-code"></i>Django</li>
								<li><i class="fa fa-paper-plane"></i> <a href="#">greatsite.com/demo</a></li>
							</ul>							
							<a href="#" class="btn btn-danger">launch site</a>
						</div>

						<div class="col-sm-8 col-lg-9 ">	
							<h6>Project Details</h6>
							<p>Oh, I'm in no condition to drive. Wait a minute. I don't have to listen to myself. I'm drunk. What good is money if it can't inspire terror in your fellow man? oh, everything looks bad if you remember it.</p>
							<blockquote>A graphic designer is a machine that turns coffee into beautiful, functional imagery.</blockquote>
							<p>Facts are meaningless. You could use facts to prove anything that's even remotely true! How could you?! Haven't you learned anything from that guy who gives those sermons at church?</p>
						</div>
						<div class="col-md-12 text-center">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-plus-square"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>	
		<!--//END GALLERY 1 MODAL-->

		<section id="quote">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="like">I like <span class="ticker"></span></h1>
					</div>
				</div>
			</div>		
		</section>