---
layout: none
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>oscarmcm.com | Developer </title>
    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->

  </head>
  <body>
    <main role="main">

      <section class="hero">
        <img src="img/hero.svg" id="hero__svg">
      </section>

      {% include panels.html %}

      {% include projects.html %}

    </main>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <!-- build:js(app) /js/lib.js -->
    <script src="/_bower_components/svg-injector/dist/svg-injector.min.js"></script>
    <!-- endbuild -->

    <!-- build:js(app) /js/main.js -->
    <script src="/js/hero.js"></script>
    <script src="/js/panels.js"></script>
    <script src="/js/projects.js"></script>
    <!-- endbuild -->

  </body>
</html>