#profile {
  background: #e8e8e0;
  color: #7a8088;
  .profile {
    display: block;
  }
  .principale {
    h2 {
      position: absolute;
      top: 50%;
      margin-top: 15px;
      left: 50%;
      margin-left: -85px;
    }
    p {
      position: absolute;
      top: 50%;
      margin-top: 50px;
      left: 50%;
      margin-left: -200px;
      width: 400px;
      text-align: center;
    }
  }
  .sub_profile {
    h3 {
      position: absolute;
      left: 50%;
      margin-left: -70px;
      top: 50%;
      margin-top: -37px;
      font-size: 24px;
    }
    p {
      position: absolute;
      left: 50%;
      margin-left: -70px;
      top: 50%;
      margin-top: -3px;
      text-transform: uppercase;
    }
    .svg {
      position: absolute;
      left: 50%;
      margin-left: -300px;
      top: 50%;
      margin-top: -80px;
      width: 160px;
      img {
        width: 100%;
      }
    }
  }
}

.img_principale {
  position: absolute;
  top: 50%;
  margin-top: -135px;
  left: 50%;
  margin-left: -55px;
  width: 120px;
  z-index: 999999;
}

.ecouter .sub_profile.ecouter .svg img {
  animation: rotate 3s linear infinite;
  -webkit-animation: rotate 3s linear infinite;
}

.voyager .svg .voyager_ns {
  position: absolute;
  width: auto;
  margin-top: 51px;
  margin-left: 43px;
  animation: voyager 10s linear infinite;
  -webkit-animation: voyager 5s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}


@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}


@-webkit-keyframes voyager {
  10% {
    -webkit-transform: rotate(30deg);
  }
  20% {
    -webkit-transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
  }
  80% {
    -webkit-transform: rotate(0);
  }
}
