
.overflow {
  height: 100vh;
  overflow: hidden;
}

.panels {
  width: 200%;

  &__side {
    float: left;
    width: 50%;
    perspective: 400px;
    @include align();
    @include easeout();


    &--left,
    &--right {
      will-change: transform;
      position: relative;
      left: -25%;
      transform: translate(0, 0);
    }

    &--left {
      background: $yellow;

      &:hover {
        .arrow {
          transform: translate(-100%, -50%);
        }
      }
    }

    &--right {
      background: $blue;

      &:hover {
        .arrow {
          transform: translate(0, -50%);
        }
      }
    }


    &--left-active {
      transform: translate(50%, 0);

      .panels__side--inner-left { transform: rotateY(0); }

      .arrow{ transform: translate(-50%, -50%) rotate(180deg) !important; }
    }

    &--right-active {
      transform: translate(-50%, 0);

      .panels__side--inner-right { transform: rotateY(0); }

      .arrow { transform: translate(-50%, -50%) rotate(180deg) !important; }
    }

    &--left-hidden { transform: translate(-50%, 0); }

    &--right-hidden { transform: translate(50%, 0) }

    &--inner { cursor: pointer; }

    &--inner-left,
    &--inner-right,
    &--inner {
      will-change: transform;
      padding: 0 5vw;
      height: 100vh;
    }

    &--inner-left {
      transform-origin: right center;
      transform: rotateY(-90deg);
      transition-delay: .1s;
      background: url('//unsplash.it/1330/900') center/cover;

      &:before {
        content: "";
        @include cover();
        background: $yellow;
        z-index: -1;
        opacity: 0.85;
      }
    }

    &--inner-right {
      transform-origin: left center;
      transform: rotateY(90deg);
      transition-delay: .1s;
      background: url('//unsplash.it/1250/900') center/cover;

      &:before {
        content: "";
        @include cover();
        background: $blue;
        z-index: -1;
        opacity: 0.85;
      }
    }
  }

  &__headline {
    text-transform: uppercase;
    margin: 0;
    font-size: 40px;
    text-align: center;
    color: lighten(black, 10);
  }

  p {
    font-size: 30px;
    margin: 0;
  }

  @media (max-width: 640px) {
    width: 100%;
    height: 200vh;

    &__side {
      float: none;
      width: 100%;
      height: 100vh;
      display: block;
      text-align: center;

      &--left,
      &--right {
        top: -25%;
        left: 0;
      }


      &--left {
        &:hover {
          .arrow { transform: translate(-50%, -80%) rotate(90deg); }
        }
      }

      &--right {
        &:hover {
          .arrow { transform: translate(-50%, -20%) rotate(90deg); }
        }
      }

      &--left-active {
        transform: translate(0, 50%);

        .panels__side--inner-left { transform: rotateX(0); }

        .arrow{ transform: translate(-50%, -50%) rotate(-90deg) !important; }
      }

      &--right-active {
        transform: translate(0, -50%);

        .panels__side--inner-right { transform: rotateX(0); }

        .arrow{ transform: translate(-50%, -50%) rotate(-90deg) !important; }
      }

      &--left-hidden{ transform: translate(0, -50%); }

      &--right-hidden { transform: translate(0, 50%); }

      &--inner-left,
      &--inner-right,
      &--inner {
        height: 50vh;
        padding: 2vh 8vw;
        @include align();
      }

      &--inner-left {
        transform-origin: center bottom;
        transform: rotateX(90deg);
      }

      &--inner-right {
        transform-origin: center top;
        transform: rotateX(-90deg);
      }
    }

    &__headline { font-size: 32px; }

    p { font-size: 20px; }
  }
}

.arrow {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%,-50%);
  fill: lighten(black, 10);
  border: 3px solid lighten(black, 10);
  border-radius: 50%;
  @include easeout();

  @media (max-width: 640px) {
    transform: translate(-50%, -50%) rotate(90deg);

    &--left { top: 25%; }
  }
}


