#savoir_faire {
    color: #ea9a9d;
}
.savoir_faire.devant #savoir_faire {
    z-index: 125;
}
.savoir_faire #savoir_faire {
    display: block;
}
.savoir_faire {
    background: #ea9a9d;
}
#big_circle_text {
    position: absolute;
    top: 50%;
    margin-top: -80px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 200px;
    text-align: center;
    color: #ea9a9d;
    z-index: 140;
    opacity: 0;
}
.savoir_faire #big_circle_text {
    opacity: 1;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
#big_circle_text h2 {
    margin-bottom: 0;
}
#big_circle_text p {
    width: 160px;
    margin: 8px auto;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 16px;
}
#circle_dot {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    z-index: 140;
    opacity: 0;
}
.savoir_faire #circle_dot {
    opacity: 1;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    animation: rotate 20s linear infinite;
    -webkit-animation: rotate 20s linear infinite;
}
#big_circle {
    position: absolute;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -150px;
    z-index: 130;
}
#all,
#front,
#back,
#os,
#logiciels {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
#front,
#back,
#os,
#logiciels {
    z-index: 8;
}
.circle_text {
    position: absolute;
    display: block;
    top: 25%;
    left: 30%;
    font-size: 22px;
    text-align: center;
    border: solid 4px transparent;
    z-index: 999;
}
.front-end {
    font-size: 21px;
    top: 30%;
    left: 25%;
    margin-top: -89px;
    margin-left: -89px;
    padding-top: 69px;
    height: 101px;
    width: 170px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}
.back-end {
    font-size: 14px;
    top: 25%;
    left: 72%;
    margin-left: -57px;
    margin-top: -57px;
    padding-top: 42px;
    height: 64px;
    width: 106px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}
.os {
    top: 75%;
    left: 30%;
    margin-left: -64px;
    margin-top: -64px;
    padding-top: 45px;
    height: 75px;
    width: 120px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}
.logiciels {
    font-size: 18px;
    top: 70%;
    left: 75%;
    margin-top: -74px;
    margin-left: -74px;
    padding-top: 60px;
    height: 80px;
    width: 140px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}
.css {
    font-size: 21px;
    top: 15%;
    left: 34%;
    margin-top: -20px;
    margin-left: -89px;
    width: 170px;
}
.html {
    font-size: 21px;
    top: 22%;
    left: 8%;
    margin-left: -57px;
    margin-top: -57px;
    padding-top: 38px;
    width: 106px;
}
.js {
    font-size: 15px;
    top: 42%;
    left: 16%;
    margin-left: -64px;
    margin-top: -15px;
    width: 120px;
}
.cms {
    font-size: 16px;
    top: 13%;
    left: 79%;
    margin-left: -64px;
    margin-top: -15px;
    width: 120px;
}
.php {
    font-size: 14px;
    top: 32%;
    left: 88%;
    margin-left: -63px;
    margin-top: -13px;
    width: 120px;
}
.mac {
    font-size: 19px;
    top: 54%;
    left: 32%;
    margin-left: -64px;
    margin-top: -18px;
    width: 120px;
}
.windows {
    font-size: 12px;
    top: 86%;
    left: 13%;
    margin-left: -63px;
    margin-top: -11px;
    width: 120px;
}
.ios {
    font-size: 18px;
    top: 68%;
    left: 19%;
    margin-left: -64px;
    margin-top: -15px;
    width: 120px;
}
.android {
    font-size: 10px;
    top: 89%;
    left: 38%;
    margin-left: -63px;
    margin-top: -10px;
    width: 120px;
}
.photoshop {
    font-size: 15px;
    top: 50%;
    left: 72%;
    margin-left: -64px;
    margin-top: -13px;
    width: 120px;
}
.illustrator {
    font-size: 12px;
    top: 66%;
    left: 89%;
    margin-left: -63px;
    margin-top: -11px;
    width: 120px;
}
.after_effect {
    font-size: 16px;
    top: 86%;
    left: 83%;
    margin-left: -64px;
    margin-top: -17px;
    width: 120px;
    line-height: 17px;
}
.cinema_4D {
    font-size: 12px;
    top: 79%;
    left: 62%;
    margin-left: -64px;
    margin-top: -10px;
    width: 120px;
}