@charset "utf-8";

$yellow : #F4D03F;
$blue   : #19B5FE;

@mixin easeout() {
  transition: all .5s cubic-bezier(0.23, 1, 0.32, 1);
}

@mixin align() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin cover() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); // remove tap highlight on android chrome
}

body {
  font-family: 'Source Sans Pro';
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}



@import
  'hero',
  'panels';

